<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%set (string){category_title}=get_category_title({model.category_id},"航展套票")%>
    <title>{model.title} - {category_title} - {config.webname}</title>
    <meta content="{model.seo_keywords}" name="keywords">
    <meta content="{model.seo_description}" name="description">
    <link media="screen" type="text/css" href="<%templateskin%>/css/showticket.css"
        rel="stylesheet">
    <link media="screen" type="text/css" href="<%templateskin%>/css/common.css"
        rel="stylesheet">
    <script type="text/javascript" src="{config.webpath}scripts/jquery/jquery-1.10.2.min.js"></script>
   
    <script type="text/javascript" src="<%templateskin%>/javascript/base.js"></script>
    <script type="text/javascript" src="<%templateskin%>/javascript/picture.js"></script>
    <script type="text/javascript" src="<%templateskin%>/javascript/cart.js"></script>
    <script type="text/javascript">
        $(function () {

            $(window).bind("scroll.gotop", function () {
                if ($(window).scrollTop() > 700) {
                    $(".r_tabs").addClass("r_tabs_fixed");
                    $(".btn_buy").show();
                }
                else {
                    $(".r_tabs").removeClass("r_tabs_fixed");
                    $(".btn_buy").hide();
                }
            });

            $(".r_tabs ul li").each(function (a, b) {
                $(b).click(function () {
                    $(b).addClass("current").siblings().removeClass("current");
                })
            });
        });
    </script>
</head>
<body>
    <!--Header-->
    <%template src=/_header.html/%>
    <!--/Header-->
    <div id="bd" class="cf">
        <h2 class="hz_itemlist_nva">
            珠海航展: <a href="<%linkurl("index")%>">珠海航展</a>
            &gt;<a href="<%linkurl("ticket")%>">珠海航展门票预订</a> 
        </h2>
        <div class="ticket_deal">
            <div class="ticket_deal_headline">
                <h3>
                    {model.title}</h3>
                <div class="ticket_deal_description">
                    {model.seo_description}
                </div>
            </div>
            <div class="t_detail_main clearfix">
                <!--商品图片-->
                <div class="ticketleft">
                    <!--幻灯片开始-->
                    <div class="pictureDIV">
                        <div id="preview" class="spec-preview">
                            <span class="jqzoom">
                                <img width="460px" height="250px" /></span>
                        </div>
                        <!--缩图开始-->
                        <div class="spec-scroll">
                            <div class="items">
                                <ul>
                                  <%if(model.albums!=null)%>
                <%foreach(DTcms.Model.article_albums modelt in model.albums)%>
                <li><img bimg="{modelt.original_path}" src="{modelt.thumb_path}" onmousemove="preview(this);" /></li>
                <%/foreach%>
                <%/if%>
                                   
                                </ul>
                            </div>
                        </div>
                        <!--缩图结束-->
                    </div>
                    <!--幻灯片结束-->
                </div>
                <!--/商品图片-->
                <div class="deal-component-info">
                    <div class="deal-component-price clearfix">
                        <h3 class="deal-component-price-current">
                            ¥ <strong>{model.fields[market_price]}</strong></h3>
                        <div class="deal-component-price-sold">
                            已售<span class="orange"><strong>{model.click}</strong></span></div>
                    </div>
                    <ul class="deal-component-expiry">
                        <li><span class="deal-component-expiry-leading f_l">有效期</span> <span class="deal-component-inline-text-container f_l">
                            <span class="deal-component-inline-text-wrapper"><span class="expiry_span">2014-11-14
                                至2014-11-16 </span><span class="expiry_span_notice orange">公众日3天任意一天</span></span></span></li>
                        <li><span class="deal-component-expiry-leading f_l">使用时间</span> <span class="deal-component-inline-text-container f_l">
                            <span class="deal-component-inline-text-wrapper"><span class="orange">9:00-17:00</span>
                            </span></span></li>
                    </ul>
                    <div class="divider">
                    </div>
                    <div class="ticket_quantity">
                        <span class="deal-component-expiry-leading f_l">数量</span>
                        <button for="cart_minus" data-action="-" gaevent="top/minus" type="button" class="f_l" id="cut_count">
                            −</button>
                        <input type="text" class="cart_quantity f_l" value="1" maxlength="9" name="goods_quantity"
                            id="goods_quantity"><input name="goods_id" id="goods_id" type="hidden" value="{model.id}" />
                        <button for="cart_add" class="item" data-action="+" gaevent="top/plus" type="button" id="add_count"
                            class="f_l">
                            +</button><span class="deal-component-quantity-warning orange"></span> <span class="quantity_warning orange">
                                每人最多只能购买 100单</span>
                    </div>
                    <div class="btn-box clearfix">
                    <%set int stock_quantity={strtoint({model.fields[stock_quantity]})}%>
                      <%if(stock_quantity>0)%>
                        <a href="javascript:void(0);" class="add" onclick="CartAdd(this, '{config.webpath}', 0, '<%linkurl("shopping","cart")%>');">
                            加入购物车</a> <a href="javascript:void(0);" class="buy" onclick="CartAdd(this, '{config.webpath}', 1, '<%linkurl("shopping","confirm")%>');">
                                立即购买</a>
                        <%else%>
                        <a title="该商品供货紧张，无法加入购物车" class="add-over">加入购物车</a> <a title="该商品供货紧张，无法立即购买" class="buy-over">
                            立即购买</a>
                        <%/if%>

                        <a target="_blank" class="f_l" alt="淘宝购买" href="http://shop113630664.taobao.com/index.htm?spm=a1z10.5.w5002-8861640795.2.iRZLpA" title="淘宝购买" rel="nofollow">
                                        
                        <span class="btn_panic">淘宝购买<i></i></span>
                                            
                                                            </a>

                    </div>
                    <div class="extra clearfix f_l">
                        <dl>
                            <dt class="deal-component-expiry-leading">支付方式 </dt>
                            <dd>
                                <a href="javascript:void(0)" target="_blank" title="信用卡支付" data-spm="d9" class="f_l">
                                    <i class="card-payment"></i>信用卡支付 </a><a href="javascript:void(0)" target="_blank"
                                        title="支付宝支付" data-spm="" class="f_l"><i class="alipay"></i>支付宝支付 </a><a href="javascript:void(0)"
                                            target="_blank" title="银行转账" data-spm="d19" class="f_l"><i class="zhuanzhang"></i>
                                            银行转账 </a>
                            </dd>
                        </dl>
                        <dl>
                            <%template src=/_share2_js.html/%>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="ticket_content f_l">
            <div class="other-biz">
                <h4>
                    中国(珠海)航展其他{category_title}
                    <div class="biz_sub_title">
                        <span class="biz_sub_title_right">已售</span> <span class="biz_sub_title_left">门票价</span>
                    </div>
                </h4>
                <ul class="ul_item_list">
                 <%set (DataTable){hztickets}=get_article_list("goods", {model.category_id}, 12, " id<>" + model.id)%>
            <%loop ulticket hztickets%>
                    <li><a href="<%linkurl("taopiao_item",{ulticket[id]})%>"  target="_blank">
                    <span class="biz-title">{ulticket[title]} <em style="padding-left:10px">{ulticket[zhaiyao]} </em>
                     </span><span
                            class="price">￥{ulticket[market_price]}</span><span class="sale">{ulticket[click]}</span> </a></li>
                   
                 <%/loop%>   
                </ul>
            </div>
            <div class="detail">
                <div class="r_tabs">
                    <ul>
                        <li class="current"><a href="#remind">套票介绍</a> </li>
                        <li class=""><a href="#address">商家地址</a> </li>                        
                        <li><a href="#pinglun">本票点评 <span class="c_tx" id="span_commmentbox">(10)</span></a></li>
                    </ul>
                    <div class="btn_buy" id="btn_buy" style="display: none;">
                        <span class="span_buy" id="Span2"> <%if(stock_quantity>0)%><a href="javascript:void(0);" onclick="CartAdd(this, '{config.webpath}', 1, '<%linkurl("shopping","confirm")%>');">购买￥{model.fields[market_price]}</a><%else %>缺货<%/if %> </span>
                    </div>
                </div>
                <div class="hb">
                    {model.content}
                    <div class="detail_bar">
                        <div class="r_tebie">
                            <h2 class="title">
                            <a name="pinglun"></a>
                                <span>本票点评</span></h2>
                            <div class="content_info">
                                <!--评论-->
                               <%if(model.is_msg==1)%>
                                  <%template src="_comment_box.html"%>
                               <%/if%>
                    
                                <!--/评论-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ticket_sidebar">
            
            <div class="side-single">
                
                <div class="inner-blk">
                  <h3>珠海航展门票</h3>
                  <ul class="mall_small clearfix">
                  
                  <%set (DataTable){smallhztickets}=get_article_list("goods", 44, 12, "is_red=1 and id<>" + model.id)%>
            <%loop smallhzticket smallhztickets%>
                  <li class="dealsmall">                  
                   <a href="<%linkurl("ticket_item",{smallhzticket[id]})%>" target="_blank" class="dealsmall_cover">
                   <img class="" src="{smallhzticket[img_url]}" width="208" height="126">
                   </a>
                    <h4>
                     <a  href="<%linkurl("ticket_item",{smallhzticket[id]})%>"> {smallhzticket[title]}</a>
                    </h4>

                    <p class="dealsmall_p">
                        <span class="price num">￥<strong>{smallhzticket[market_price]}</strong></span>
                        <span class="sales f1">已售<strong class="num">{smallhzticket[click]}</strong></span>
                    </p>

                  </li>
                   <%/loop%>  
                  </ul>

                </div>

            </div>
            
        </div>
    </div>
    <!--Footer-->
    <%template src=/_footer.html/%>
    <!--/Footer-->
</body>
</html>
