<div class="mini_nav_wrap clsPanle">
                <div class="mini_logo">
                    <a href="../index.aspx"></a>
                </div>
                <ul id="menuNav">
                    <li><a href="<%linkurl("changlong")%>">海洋王国</a></li>
                    <li><a href="<%linkurl("changlong")%>#fun">主题乐园</a></li>
                    <li><a href="<%linkurl("changlongmp")%>">门票预订</a></li>
                    <li><a href="<%linkurl("menpiaoorder",296)%>">跨年门票</a></li>
                    <li><a href="<%linkurl("changlong")%>#time">表演时间</a></li>
                    <!--<li><a href="#">景点攻略</a></li>
                    <li><a href="#" title="长隆马戏">国际马戏城</a></li>-->
                </ul>
            </div>