<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>珠海长隆海洋王国门票预订|海洋王国门票团购_奇比拉</title>
    <meta content="海洋王国门票，马戏二等门票，珠海长隆，海洋王国跨年晚会门票，珠海海洋王国，海洋王国优惠票，海洋王国团购" name="keywords">
    <meta content="珠海长隆：2014年珠海长隆海洋王国跨年晚会门票,暨12月27日长隆野生动物世界自驾珠海独家" name="description">
    <meta content="奇比拉" name="author">
    <link media="screen" type="text/css" href="<%templateskin%>/css/common.css" rel="stylesheet">
    <link media="screen" type="text/css" href="<%templateskin%>/css/index.css" rel="stylesheet">
    <link media="screen" type="text/css" href="<%templateskin%>/css/showticket.css" rel="stylesheet">
    <script type="text/javascript" src="<%templateskin%>/javascript/jquery-1.8.0.min.js"></script>
    <script src="<%templateskin%>/javascript/slides.jquery.js" type="text/javascript"></script>
    <script type="text/javascript" src="<%templateskin%>/javascript/base.js"></script>
    <script type="text/javascript" src="<%templateskin%>/javascript/picture.js"></script>
    <link media="screen" type="text/css" href="<%templateskin%>/css/changlong/main.css"
        rel="stylesheet">
    <link media="screen" type="text/css" href="<%templateskin%>/css/changlong/silde.css"
        rel="stylesheet">
    <script type="text/javascript">
        $(function () {
            tabs('#goodsTabs', 'click');
            //智能浮动层
            $("#tab_head").smartFloat($(".mainbody"));

            $("tr").live({
                mouseover: function () {
                    $(this).css("background-color", "#FBF4F4");
                },
                mouseout: function () {
                    $(this).css("background-color", "#FFFFFF");
                }
            })

        });
    </script>
</head>
<body>
    <div class="narrow_page menpiao_page">
        <div class="head_nav">
             <!--Header-->
    <%template src=/_header_changlong.html/%>
    <!--/Header-->
        </div>
        <div class="clearfix">
        </div>
        <div class="clsPanle clsalpha clearfix">
            <div class="clongmenpiao_title ">
                <div class="clongmenpiao_title_content">
                    <div class="t_detail_main clearfix">
                        <!--门票图片-->
                        <div class="ticketleft">
                            <!--幻灯片开始-->
                            <div class="pictureDIV">
                                <div id="Div1" class="spec-preview">
                                    <span class="jqzoom">
                                        <img width="460px" height="250px" jqimg="<%templateskin%>/images/changlong/menpiao/1.jpg"
                                            src="<%templateskin%>/images/changlong/menpiao/1.jpg"></span>
                                </div>
                                <!--缩图开始-->
                                <div class="spec-scroll">
                                    <div class="items">
                                        <ul>
                                            <li>
                                                <img bimg="<%templateskin%>/images/changlong/menpiao/1.jpg" src="<%templateskin%>/images/changlong/menpiao/1.jpg"
                                                    onmousemove="preview(this);" alt="珠海长隆海洋王国横琴海"></li>
                                            <li>
                                                <img bimg="<%templateskin%>/images/changlong/menpiao/2.jpg" src="<%templateskin%>/images/changlong/menpiao/2.jpg"
                                                    onmousemove="preview(this);" alt="海洋王国烟花表演"></li>
                                            <li>
                                                <img bimg="<%templateskin%>/images/changlong/menpiao/3.jpg" src="<%templateskin%>/images/changlong/menpiao/3.jpg"
                                                    onmousemove="preview(this);" alt="海洋王国"></li>
                                            <li>
                                                <img bimg="<%templateskin%>/images/changlong/menpiao/4.jpg" src="<%templateskin%>/images/changlong/menpiao/4.jpg"
                                                    onmousemove="preview(this);" alt="亚马逊河"></li>
                                            <li>
                                                <img bimg="<%templateskin%>/images/changlong/menpiao/5.jpg" src="<%templateskin%>/images/changlong/menpiao/5.jpg"
                                                    onmousemove="preview(this);" alt="海洋王国亲子"></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--缩图结束-->
                            </div>
                            <!--幻灯片结束-->
                        </div>
                        <!--/门票图片-->
                        <div class="deal_content">
                            <h1>
                                珠海长隆海洋王国门票</h1>
                            <ul class="deal-component-expiry clearfix">
                                <li><span class="deal-component-expiry-leading f_l">开放时间</span> <span class="deal-component-inline-text-container f_l">
                                    <span class="deal-component-inline-text-wrapper"><span class="expiry_span">10：:0-21:00
                                    </span></span></span></li>
                                <li><span class="deal-component-expiry-leading f_l">景点地址</span> <span class="deal-component-inline-text-container f_l">
                                    <span class="deal-component-inline-text-wrapper"><span class="orange">广东省珠海市横琴区富祥湾。
                                    </span></span></span></li>
                                <li><span class="deal-component-expiry-leading f_l">预订规则</span> <span class="deal-component-inline-text-container f_l">
                                    <span class="deal-component-inline-text-wrapper"><span class="orange">不接受当天预订，请提前一天预订，凭短信验证码换票。
                                    </span></span></span></li>
                                <li><span class="deal-component-expiry-leading f_l">优惠票</span> <span class="deal-component-inline-text-container f_l">
                                    <span class="deal-component-inline-text-wrapper"><span class="orange">1.0-1.5米以下小童，65岁以上老人。(马戏城没有优惠，入场需购买全票)
                                    </span></span></span></li>
                            </ul>
                            <div class="extra clearfix f_l">
                                <dl>
                                    <dt class="deal-component-expiry-leading">支付方式 </dt>
                                    <dd>
                                        <a href="javascript:void(0)" target="_blank" title="信用卡支付" data-spm="d9" class="f_l">
                                            <i class="card-payment"></i>信用卡支付 </a><a href="javascript:void(0)" target="_blank"
                                                title="支付宝支付" data-spm="" class="f_l"><i class="alipay"></i>支付宝支付 </a><a href="javascript:void(0)"
                                                    target="_blank" title="网银在线" data-spm="d19" class="f_l"><i class="zhuanzhang"></i>
                                                    网银在线 </a>
                                    </dd>
                                </dl>
                                <dl>
                                    <%template src=/_share2_js.html/%>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alpha_bg">
                </div>
            </div>
        </div>
        <div class="clsPanle mainbody menpiaobody" id="mainbody">
            <div class="clongmenpiao">
                <h2 class="hz_itemlist_nva">
                    珠海长隆: <a href="<%linkurl("changlong")%>">海洋王国</a> &gt;<a href="<%linkurl("changlongmp")%>">海洋王国门票预订</a>
                </h2>
                <div id="goodsTabs">
                    <div id="tab_head" class="pro-tabs clearfix">
                        <ul class="clearfix">
                            <li><a class="current" href="javascript:;">海洋王国门票</a></li>
                            <li><a href="javascript:;">海洋王国介绍</a></li>
                            <li><a href="javascript:;">海洋王国评论</a></li>
                            <li><a href="javascript:;">海洋王国交通</a></li>
                        </ul>
                    </div>
                    <div class="line10">
                    </div>
                    <div class="tab_inner" style="display: block;">
                        <div class="product_ticket">
                            <div class="product_ticket_item">
                                <div class="mp-ticket-catetitle">
                                    <span>门票类型</span> <em class="mp-ticket-type">特惠票</em>
                                </div>
                                <table class="ticket_item_inner clearfix">
                                    <thead>
                                        <tr>
                                            <td style="padding-left: 26px;">
                                                名称
                                            </td>
                                            <td width="80px">
                                                门市价
                                            </td>
                                            <td width="110px">
                                                优惠价
                                            </td>
                                            <td width="110px">
                                                &nbsp;
                                            </td>
                                            <td width="90px">
                                                兑换方式
                                            </td>
                                            <td width="83px">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%set (DataTable){is_tops}=get_article_list("goods", 48, 10, " is_top=1")%>
                                        <%loop is_top is_tops%>
                                        <tr class="hover_bg">
                                            <td class="ticket_item_title">
                                                <h3>
                                                    <a href="<%linkurl("menpiaoorder",{is_top[id]})%>">{is_top[title]} </a>
                                                </h3>
                                            </td>
                                            <td class="ticket_item_yprice strike">
                                                <span class="del"><dfn>¥</dfn><strong>{is_top[market_price]}</strong></span>
                                            </td>
                                            <td>
                                                <span class="base_price"><dfn>¥</dfn><strong>{is_top[sell_price]}</strong></span>
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td class="ticket_item_type">
                                                手机验证码
                                            </td>
                                            <td class="ticket_item_buy">
                                                <a href='<%linkurl("menpiaoorder",{is_top[id]})%>' class="detail_booking_btn">预订</a>
                                            </td>
                                        </tr>
                                        <%/loop%>
                                    </tbody>
                                </table>
                            </div>
                            <div class="product_ticket_item">
                                <div class="mp-ticket-catetitle">
                                    <span>门票类型</span> <em class="mp-ticket-type">单票</em>
                                </div>
                                <table class="ticket_item_inner clearfix">
                                    <thead>
                                        <tr>
                                            <td style="padding-left: 26px;">
                                                名称
                                            </td>
                                            <td width="80px">
                                                门市价
                                            </td>
                                            <td width="110px">
                                                优惠价
                                            </td>
                                            <td width="110px">
                                                &nbsp;
                                            </td>
                                            <td width="90px">
                                                兑换方式
                                            </td>
                                            <td width="83px">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <%set (DataTable){is_reds}=get_article_list("goods", 48, 10, " is_red=1")%>
                                        <%loop is_red is_reds%>
                                        <tr class="hover_bg">
                                            <td class="ticket_item_title">
                                                <h3>
                                                    <a href="<%linkurl("menpiaoorder",{is_red[id]})%>">{is_red[title]} </a>
                                                </h3>
                                            </td>
                                            <td class="ticket_item_yprice strike">
                                                <span class="del"><dfn>¥</dfn><strong>{is_red[market_price]}</strong></span>
                                            </td>
                                            <td>
                                                <span class="base_price"><dfn>¥</dfn><strong>{is_red[sell_price]}</strong></span>
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td class="ticket_item_type">
                                                手机验证码
                                            </td>
                                            <td class="ticket_item_buy">
                                                 <a href='<%linkurl("menpiaoorder",{is_red[id]})%>' class="detail_booking_btn">预订</a>
                                            </td>
                                        </tr>
                                        <%/loop%>
                                    </tbody>
                                </table>
                            </div>
                            <div class="product_ticket_item">
                                <div class="mp-ticket-catetitle">
                                    <span>门票类型</span> <em class="mp-ticket-type">套票</em>
                                </div>
                                <table class="ticket_item_inner clearfix">
                                    <thead>
                                        <tr>
                                            <td style="padding-left: 26px;">
                                                名称
                                            </td>
                                            <td width="80px">
                                                门市价
                                            </td>
                                            <td width="110px">
                                                优惠价
                                            </td>
                                            <td width="110px">
                                                &nbsp;
                                            </td>
                                            <td width="90px">
                                                兑换方式
                                            </td>
                                            <td width="83px">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <%set (DataTable){is_hots}=get_article_list("goods", 48, 10, " is_hot=1")%>
                                        <%loop is_hot is_hots%>
                                        <tr class="hover_bg">
                                            <td class="ticket_item_title">
                                                <h3>
                                                    <a href="<%linkurl("menpiaoorder",{is_hot[id]})%>">{is_hot[title]} </a>
                                                </h3>
                                            </td>
                                            <td class="ticket_item_yprice strike">
                                                <span class="del"><dfn>¥</dfn><strong>{is_hot[market_price]}</strong></span>
                                            </td>
                                            <td>
                                                <span class="base_price"><dfn>¥</dfn><strong>{is_hot[sell_price]}</strong></span>
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td class="ticket_item_type">
                                                手机验证码
                                            </td>
                                            <td class="ticket_item_buy">
                                                 <a href='<%linkurl("menpiaoorder",{is_hot[id]})%>' class="detail_booking_btn">预订</a>
                                            </td>
                                        </tr>
                                        <%/loop%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="line10">
                        </div>
                    </div>
                    <div class="product_more_info clearfix">
                        <div class="product_more_major">
                            <div class="product_more_info_des">
                                <div class="tab_inner">
                                    <div class="box_tit">
                                        <h2 class="tit clearfix">
                                            <em class="icon"></em><em class="txt">海洋王国介绍</em></h2>
                                    </div>
                                    <p style="text-align: left">
                                        &nbsp;&nbsp;&nbsp; 珠海长隆海洋王国位于珠海横琴长隆国际海洋度假区内，是长隆集团运用积累了20多年的经验，采用世界顶尖公司的设计，吸取全球主题公园的精华，运用高科技和长隆特有的创意，全面整合珍稀的海洋动物、顶级的游乐设备和新奇的大型演艺，全力建设和打造的中国人自主研发、拥有自主知识产权的世界顶级主题公园，将成为世界顶级、规模最大、游乐设施最丰富也是最富于想象力的海洋王国。<br>
                                        <img alt="鲸鲨馆夜景.jpg" src="http://dimg02.c-ctrip.com/images/tg/708/191/412/2b31c2dd5aee41578848528675b37b63_C_422_236.jpg">&nbsp;<img
                                            alt="幻彩闪耀横琴海.jpg" src="http://dimg02.c-ctrip.com/images/tg/675/025/851/b640e91ba5dd40e18912ee3db2e7fc82_C_422_236.jpg"></p>
                                    <p style="text-align: left">
                                        &nbsp; &nbsp; 在这里，宾客可以搭乘水上过山车穿越极地、欣赏北极熊的憨态，也可以在海底隧道体验鲸鲨的慑人气势；不仅可以全家体验游乐设施和观赏表演，更可通过前所未有的世界最尖端科技和直观手段学习知识和体验大自然。<br>
                                        <img alt="鲸鲨馆内水族箱7.jpg" src="http://dimg02.c-ctrip.com/images/tg/252/960/469/8a8122e9a9a748e4a911ce88b8349665_C_422_236.jpg">&nbsp;<img
                                            alt="鲸鲨.jpg" src="http://dimg02.c-ctrip.com/images/tg/906/002/792/f650fdccdb5a44169f56b23c64c20ca8_C_422_236.jpg"></p>
                                    <div class="cls_msg_tips">
                                        <span>入园参考</span>
                                    </div>
                                    <p>
                                        1M以下儿童可免票入园（一成人限带一名儿童）。
                                    </p>
                                    <p>
                                        -1.5M儿童及65岁以上长者（需凭有效身份证验票入园）可购票优惠票入园。</p>
                                    <p>
                                    </p>
                                    <br />
                                    <div class="cls_msg_tips">
                                        <span>温馨提示</span>
                                    </div>
                                    <p>
                                        1、注意饮食卫生：提高防护传染病、流行病的意识。注意用餐卫生，不食用不卫生、不合格的食品及饮料，注意环境卫生，尽量少在路边小摊用餐。</p>
                                    <p>
                                        2、做好个人防护：备好相应的服装鞋、帽，做好防晒、防蚊虫等工作。</p>
                                    <p>
                                        3、注意人身安全：请在自己能够控制风险的范围内活动，注意人身安全，旅途中遇紧急情况的，应立即报警并寻求当地警察机关的帮助。</p>
                                    <p>
                                        4、防范水上风险：水上游览或活动时，应加倍注意安全，不可擅自下水或单独前往深水区或危险水域，应听从指挥和合理的劝阻。</p>
                                    <p>
                                        5、保管好贵重物品：贵重物品勿放在交运行李、酒店房间或旅游巴士上，随身携带财物稳妥安置，不要离开自己的视线范围，游览、拍照、散步、购物时，随时注意和检查谨防被盗遗失。</p>
                                    <div class="module_des_content_exp">
                                        <p>
                                            6、携带旅行票证：个人身份证件、旅行证件、交通票证请随身妥善保管，以避免遗忘、丢失。</p>
                                    </div>
                                    <br />
                                    <div class="cls_msg_tips">
                                        <span>改期及退票</span>
                                    </div>
                                    <p>
                                        改期：购买的电子票，在未兑换门票的情况下，往后30日内改指定日期一次收取手续费10元/人</p>
                                    <p>
                                        退票：购买的电子票，在未兑换门票的情况下,收取手续费15元/人</p>
                                </div>
                                <div class="tab_inner">
                                    <div class="box_tit">
                                        <h2 class="tit clearfix">
                                            <em class="icon"></em><em class="txt">海洋王国评论</em></h2>
                                    </div>
                                    <p>
                                        暂无评论</p>
                                </div>
                                <div class="tab_inner">
                                    <div class="box_tit">
                                        <h2 class="tit clearfix">
                                            <em class="icon"></em><em class="txt">海洋王国交通</em></h2>
                                    </div>
                                    <ul class="tra_ul">
                                        <li>
                                            <img src="{config.webpath}images/jiaotong/tra_gj.jpg" alt="珠海公交">
                                            <div class="tra_ul_r">
                                                <h2 class="h2_gj">
                                                    公交：</h2>
                                                <p>
                                                    ● 珠海市区乘坐14、86、63、K10和K11路公交车直达珠海横琴长隆国际海洋度假区。</p>
                                                <p>
                                                    ● 珠海市西区的游客可在南屏换乘14、86和K11路公交车到达珠海横琴长隆国际海洋度假区。</p>
                                                <p>
                                                    ● 香洲汽车总站、城际轻轨珠海站、九洲港、珠海机场、拱北口岸、横琴口岸分别有专线车</p>
                                                <p class="tra_mar">
                                                    直达珠海横琴长隆国际海洋度假区。</p>
                                                <!-- <p class="tra_mar"><strong>长隆横琴湾酒店往金湾机场 /吉大（怡景湾酒店) /唐家（聚龙酒店）</strong></p>
                                    <p class="tra_mar">长隆横琴湾酒店上客点：团队接待大堂门口</p><br />
                                    <div class="clear"></div>
                                    <p class="tra_mar2">唐家（聚龙酒店）- 长隆横琴湾酒店<br />
                                    09:30 10:00 10:30<br />
                                    票价：30元/人
                                    </p>
                                    <p class="tra_mar2">长隆横琴湾酒店 - 唐家（聚龙酒店）<br />
                                     15:00 16:00 17:00<br />
                                    </p>
                                    <p class="tra_mar2">吉大（怡景湾大酒店）- 长隆横琴湾酒店<br />
                                    09:30 10:00 10:30<br />
                                    票价：20元/人
                                    </p>
                                    <p class="tra_mar2">长隆横琴湾酒店 - 吉大（怡景湾酒店）<br />
                                     15:30 16:30 17:30<br />
                                    </p> -->
                                            </div>
                                        </li>
                                        <li class="tra_color">
                                            <img src="{config.webpath}images/jiaotong/tra_fj.jpg" alt="珠海飞机">
                                            <div class="tra_ul_r">
                                                <span></span>
                                                <h2 class="h2_fj">
                                                    飞机：</h2>
                                                <p>
                                                    ● <b>珠海机场：</b>机场快线直达珠海横琴长隆国际海洋度假区。</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店上客点：团队接待大堂门口</p>
                                                <p class="tra_mar">
                                                    珠海机场 - 长隆横琴湾酒店</p>
                                                <p class="tra_mar">
                                                    10:00 10:20 11:30 12:30 13:30 14:40 16:00 17:00 18:00</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店 - 珠海机场</p>
                                                <p class="tra_mar">
                                                    08:55 09:55 10:55 12:25 13:25 14:55 15:55 16:55 18:25（车程1小时）</p>
                                                <p class="tra_mar">
                                                    票价：30元/人</p>
                                                <p>
                                                    ● <b>白云机场：</b>空港快线直达珠海横琴长隆国际海洋度假区。</p>
                                                <p class="tra_mar">
                                                    <strong>长隆横琴湾酒店往返广州白云机场</strong></p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店上客点：团队接待大堂门口</p>
                                                <p class="tra_mar">
                                                    广州白云机场 - 长隆横琴湾酒店</p>
                                                <p class="tra_mar">
                                                    08:20 09:50 12:20 14:50</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店 - 广州白云机场</p>
                                                <p class="tra_mar">
                                                    09:00 12:00 14:30 16:50</p>
                                                <p class="tra_mar">
                                                    票价：成人112元/人；1.2 - 1.5米小童56元/人；1.2米以下免费。</p>
                                                <p>
                                                    <b>备注：</b></p>
                                                <p class="tra_mar">
                                                    行车时间全程约3小时30分钟，机场提前45分钟停止办理登机牌，建议客人</p>
                                                <p class="tra_mar">
                                                    至少提前4小时30分钟乘车。</p>
                                                <p>
                                                    ● <b>澳门机场：</b>乘车至横琴口岸或拱北口岸后，换乘专线车直达珠海横琴长隆国际海洋度假区。</p>
                                                <p>
                                                    ● <b>香港机场：</b></p>
                                                <p class="tra_mar">
                                                    乘船至珠海九洲港后换乘专线车直达珠海横琴长隆国际海洋度假区。</p>
                                                <p class="tra_mar">
                                                    乘船至澳门氹仔码头后乘车经拱北或横琴口岸换乘专线车直达珠海横琴长隆国际海洋度假区。</p>
                                                <p>
                                                    ● <b>深圳机场：</b>乘车至拱北口岸后换乘专线车或K10公交车到达海横琴长隆国际海洋度假区。</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="{config.webpath}images/jiaotong/tra_qg.jpg" alt="珠海轻轨">
                                            <div class="tra_ul_r">
                                                <span></span>
                                                <h2 class="h2_qg">
                                                    广珠城际轻轨：</h2>
                                                <!--<p><b>● 城轨珠海北站---横琴：</b></p>
                                    <p class="tra_mar">城轨珠海北站坐K1路在香洲总站下车，转乘香洲—横琴K11路到长隆站下车</p>
                                    <p><b>● 城轨唐家湾站---横琴：</b></p>
                                    <p class="tra_mar">城轨唐家湾站坐K3路/69路在九洲城下车，转乘K10路到长隆站下车</p>
                                    <p><b>● 城轨明珠站--横琴：</b></p>
                                    <p class="tra_mar">步行至上冲站，乘坐香洲—横琴k11路到长隆站下车</p>
                                    <p><b>● 城轨前山站---横琴：</b></p>
                                    <p class="tra_mar">步行至前山站，乘坐香洲—横琴K11路到长隆站下车</p>
                                    <p><b>● 城轨珠海站(拱北)---横琴：</b></p>
                                    <p class="tra_mar">城轨珠海站乘坐101路在观澳平台站下，转乘k10路到长隆站下车</p>
                                    <p><b>● 广珠轻轨主线途径车站有（如下图）：</b></p>
                                    <div class="tra_qgdt">
                                        <img src="images/tra_qgdt.jpg" alt="广珠轻轨主线途径车站" />
                                        <div class="tra_qgdt_r">
                                            <p><b>目前已有规划中广珠轻轨全线途径车站有：</b></p>
                                            <p><b>广州：</b>广州南</p>
                                            <p><b>佛山顺德：</b>碧江，北滘，顺德，容桂</p>
                                            <p><b>中山：</b>南头，小榄，东升，古镇，中山北，中山，南朗，翠亨</p>
                                            <p><b>珠海：</b>珠海北（金鼎），唐家湾(金塘)，明珠，前山、珠海</p>
                                            <p><b>江门：</b>江门外海、礼乐、新会</p>
                                            <p><b>延长线发展：</b>珠海站至珠海机场的延伸段通过预可行报告，沿途将设有珠海站、湾仔北、湾仔、十字门、金融岛、横琴、长隆乐园、三灶、珠海机场9个车站，在横琴预留与<b>澳门轻轨</b>接驳条件，远期预留深井、鹤州南、金海岸三座车站。</p>
                                        </div>
                                    </div>-->
                                                <p>
                                                    ● 游客换乘广珠城际轻轨抵达珠海站，再换乘专线车到达珠海横琴长隆国际海洋度假区。</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店往拱北城轨站</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店上客点：团队接待大堂门口</p>
                                                <p class="tra_mar">
                                                    <strong>时刻表：</strong></p>
                                                <p class="tra_mar">
                                                    09:30 10:00 10:30 11:00 11:30 12:00 12:30 13:00 13:30 14:00 14:30 15:00 15:30 16:00</p>
                                                <p class="tra_mar">
                                                    16:15 16:30 17:00 17:15 17:30 17:45 18:00 18:15 18:30 18:45 19:00 19:15 19:30 20:00</p>
                                                <p class="tra_mar">
                                                    票价：10元/人</p>
                                            </div>
                                        </li>
                                        <!-- <li class="tra_color">
                                <img src="images/tra_qp.jpg" alt="珠海船舶" />
                                <div class="tra_ul_r">
                                    <span></span>
                                    <h2 class="h2_cp">船舶：</h2>
                                    <p><b>● 香洲港：</b>坐<b>56路</b>在邮政大厦站下车转乘<b>14路</b>到长隆站下车。</p>
                                    <p><b>● 湾仔码头：</b>坐<b>14路</b>/<b>86路</b>到长隆站下车。</p>
                                    <p><b>● 横琴码头：</b>可直接步行100米到达长隆站下车。</p>
                                    <p><b>● 九州港：</b>坐<b>4路</b>在水湾头站下车转乘<b>K10</b>到长隆站下车。</p>
                                </div>
                            </li>-->
                                        <li class="tra_color">
                                            <img src="{config.webpath}images/jiaotong/tra_csb.png" alt="穿梭巴">
                                            <div class="tra_ul_r">
                                                <span></span>
                                                <h2 class="h2_cp">
                                                    穿梭巴：</h2>
                                                <p>
                                                    <b>● 珠海横琴长隆国际海洋度假区---广州长隆旅游度假区</b></p>
                                                <p class="tra_mar">
                                                    珠海长隆横琴湾酒店（团体大厅候车点）-长隆酒店(09:00、16:30) （免费）</p>
                                                <p class="tra_mar">
                                                    住客提前一天在酒店礼宾部订位</p>
                                                <p class="tra_mar">
                                                    每班车均限定乘坐人数</p>
                                                <p class="tra_mar">
                                                    客满为止，敬请谅解。</p>
                                                <p style="margin-top: 10px;">
                                                    <b>● 酒店住客专享广珠免费穿梭巴服务</b></p>
                                                <p class="tra_mar">
                                                    仅限同时预订横琴湾酒店和长隆酒店住客乘坐，请于提前一天到礼宾部柜台取票，先到先得。</p>
                                                <p style="margin-top: 15px;">
                                                    <b>● 横琴湾酒店--海洋王国</b></p>
                                                <p class="tra_mar">
                                                    时刻表：</p>
                                                <p class="tra_mar">
                                                    12月1日—12月30日 9:30-21:30</p>
                                                <p class="tra_mar">
                                                    12月31日 9:30-01:00（次日凌晨）</p>
                                                <p class="tra_mar">
                                                    周一至周五30分钟一班</p>
                                                <p class="tra_mar">
                                                    周六日及节假日15分钟一班</p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="{config.webpath}images/jiaotong/tra_xg.png" alt="香港">
                                            <div class="tra_ul_r">
                                                <span></span>
                                                <h2 class="h2_cp">
                                                    香港地区前往珠海横琴长隆国际海洋度假区：</h2>
                                                <p>
                                                    <b>1、水路交通：</b></p>
                                                <p>
                                                    ● 尖沙咀中港城码头或上环港澳码头乘船抵达九洲港后，换乘专线车直达珠海横琴长隆国际海洋度假区。</p>
                                                <p>
                                                    ● 上环港澳码头乘船前往澳门氹仔码头或港澳码头，乘车经横琴口岸或拱北口岸入境后，再换乘专线车</p>
                                                <p class="tra_mar">
                                                    直达珠海横琴长隆国际海洋度假区。</p>
                                                <p style="margin-top: 10px;">
                                                    <b>2、陆路交通：</b></p>
                                                <p>
                                                    ● 乘坐香港永东旅行社班车经深圳湾口岸直达珠海横琴长隆国际海洋度假区。</p>
                                                <p>
                                                    ● 香港上车地点：油麻地壁街、太子旺角警署背后、荃湾德海街德海公园侧门、屯门Vcity商城一层车场。</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店上客点：团队接待大堂门口</p>
                                                <p class="tra_mar">
                                                    香港--长隆横琴湾酒店 08:00</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店--香港 15:00</p>
                                                <p class="tra_mar">
                                                    票价：单程人民币130元/人</p>
                                                <!-- <p class="tra_mar"><strong>长隆横琴湾酒店往香港（九龙）</strong></p>
                                    <p class="tra_mar">香港（九龙）- 长隆横琴湾酒店   08:00</p>
                                    <p class="tra_mar">长隆横琴湾酒店 - 香港（九龙）   14:45</p>
                                    <p class="tra_mar">票价：单程人民币120元，往返人民币180元</p> -->
                                            </div>
                                        </li>
                                        <li class="tra_color">
                                            <img src="{config.webpath}images/jiaotong/tra_am.png" alt="澳门">
                                            <div class="tra_ul_r">
                                                <span></span>
                                                <h2 class="h2_cp">
                                                    澳门地区前往珠海横琴长隆国际海洋度假区</h2>
                                                <p>
                                                    ● 在澳门富豪酒店乘坐澳门中旅专线车，经横琴口岸直达珠海横琴长隆国际海洋度假区。</p>
                                                <p class="tra_mar">
                                                    <strong>长隆横琴湾酒店往澳门富豪酒店</strong></p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店上客点：团队接待大堂门口</p>
                                                <p class="tra_mar">
                                                    澳门富豪酒店 - 长隆横琴湾酒店</p>
                                                <p class="tra_mar">
                                                    09:00 10:30 12:00 14:00 15:30 17:00</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店 - 澳门富豪酒店</p>
                                                <p class="tra_mar">
                                                    10:35 12:35 14:05 15:35 17:05 18:35</p>
                                                <p class="tra_mar">
                                                    票价：人民币25元/人
                                                </p>
                                                <p>
                                                    ● 乘车至横琴口岸或拱北口岸后，换乘专线车直达珠海横琴长隆国际海洋度假区。</p>
                                                <p>
                                                    ● 在氹仔客运码头乘坐专线车，经横琴口岸直达珠海横琴长隆国际海洋度假区。</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店往氹仔客运码头</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店上客点：团队接待大堂门口</p>
                                                <p class="tra_mar">
                                                    氹仔客运码头 - 横琴口岸 - 长隆横琴湾酒店</p>
                                                <p class="tra_mar">
                                                    10:25 11:25 12:25 13:25 14:25 15:25 16:25 17:25</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店 - 横琴口岸 - 氹仔客运码头</p>
                                                <p class="tra_mar">
                                                    11:30 12:30 13:30 14:30 15:30 16:30 17:30</p>
                                                <p class="tra_mar">
                                                    票价：人民币25元/人
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="{config.webpath}images/jiaotong/tra_gd.png" alt="广东">
                                            <div class="tra_ul_r">
                                                <span></span>
                                                <h2 class="h2_cp">
                                                    广东省内各市自由行前往珠海横琴长隆国际海洋度假区</h2>
                                                <p>
                                                    ● 省内各市汽车站乘班车至珠海香洲汽车总站后，换乘专线车直达珠海横琴长隆国际海洋度假区。</p>
                                                <p>
                                                    ● 乘省内各市乘坐岐关车路公司班车至拱北口岸后，换乘专线车直达珠海横琴长隆国际海洋度假区。</p>
                                                <p>
                                                    ● 省内各市乘坐澳门中旅汽车公司班车至拱北口岸后，换乘专线车直达珠海横琴长隆国际海洋度假区。</p>
                                                <p>
                                                    ● 粤东及深圳游客在蛇口港乘船至九洲港后，换乘专线车直达珠海横琴长隆国际海洋度假区。</p>
                                                <br>
                                                <p class="tra_mar">
                                                    <strong>长隆横琴湾酒店往返九洲港</strong></p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店上客点：团队接待大堂门口</p>
                                                <p class="tra_mar">
                                                    乘车点：在九洲港大厅12号窗口买票上车。</p>
                                                <br>
                                                <p class="tra_mar">
                                                    九洲港 - 拱北城轨站 - 长隆横琴湾酒店：</p>
                                                <p class="tra_mar">
                                                    08:50 09:20 09:50 10:20 10:50 11:30</p>
                                                <p class="tra_mar">
                                                    12:10 12:50 13:30 14:10 14:50 15:20</p>
                                                <p class="tra_mar">
                                                    15:50 16:20 16:50 17:30 17:50 18:30 19:00</p>
                                                <br>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店 - 拱北城轨站 - 九洲港：</p>
                                                <p class="tra_mar">
                                                    09:55 10:25 10:55 11:25 11:55 12:35</p>
                                                <p class="tra_mar">
                                                    13:15 13:55 14:35 15:15 15:55 16:25</p>
                                                <p class="tra_mar">
                                                    16:55 17:35 18:15 18:45 19:15 19:35 20:05</p>
                                                <br>
                                                <p class="tra_mar">
                                                    <strong>票价：</strong></p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店 - 九洲港 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15元/人</p>
                                                <p class="tra_mar">
                                                    长隆横琴湾酒店- 拱北城轨站 &nbsp;&nbsp;&nbsp;&nbsp;10元/人</p>
                                            </div>
                                        </li>
                                        <li class="tra_color tra_noborder">
                                            <img src="{config.webpath}images/jiaotong/tra_zjy.png" alt="自驾游">
                                            <div class="tra_ul_r">
                                                <span></span>
                                                <h2 class="h2_cp">
                                                    自驾车：</h2>
                                                <p>
                                                    1、京港澳高速出口 - 港湾大道 - 情侣路 - 昌盛大桥 - 南湾大道 - 横琴长隆。</p>
                                                <p>
                                                    2、京港澳高速出口 - 港湾大道 - 金凤路 - 凤凰山隧道 - 旅游路 - 三台石路 - 前山立交 - 前山大桥</p>
                                                <p class="tra_mar">
                                                    - 南湾立交 - 南湾大道 - 横琴长隆</p>
                                                <p>
                                                    3、京港澳高速出口 - 港湾大道 - 梅华路 - 迎宾北路 - 板障山隧道 - 九洲大道 - 前山立交</p>
                                                <p class="tra_mar">
                                                    - 前山大桥 - 南湾立交 - 南湾大道 - 横琴长隆</p>
                                                <p>
                                                    4、西部沿海高速坦洲出口 - 105国道 - 上冲检查站 - 明珠路 - 前山大桥 - 南湾立交- 南湾大道 - 横琴长隆</p>
                                                <p>
                                                    5、广珠西线高速公路 - 南屏检查站 - 南琴路 - 横琴大桥 - 横琴长隆</p>
                                                <p>
                                                    6、西部沿海高速斗门出口 - 白蕉大道(S272) - 湖心路(S272) - 珠海大道 - 南琴路 - 横琴大桥 - 横琴长隆</p>
                                                <p>
                                                    7、江珠高速公路珠海大道出口 - 珠海大桥 - 珠海大道主道 - 南湾立交 - 南湾大道 - 横琴长隆</p>
                                                <p>
                                                    8、西部沿海高速珠港出口 - 高栏港高速珠海 - 珠海大道 - (机场高速珠海大道出口)</p>
                                                <p class="tra_mar">
                                                    - 珠海大道 - 南琴路 - 横琴长隆</p>
                                                <p>
                                                    9、珠海机场 - 机场大道 - 珠海大道 - 南琴路 - 横琴长隆</p>
                                                <p>
                                                    10、九洲港口岸 - 九洲大道 - 前山立交 - 前山大桥 - 珠海大道 - 南湾立交 - 南湾大道 - 横琴长隆</p>
                                                <p>
                                                    11、拱北口岸 - 迎宾南路 - 九洲大道/粤海路 - 前山立交 - 前山大桥 - 珠海大道 - 南湾立交 - 南湾大道
                                                </p>
                                                <p class="tra_mar">
                                                    - 横琴长隆</p>
                                                <p>
                                                    12、广州、佛山及粤北地区：各地高速转 - 广珠西线高速（南屏出口) - 南屏检查站 - 南琴路 - 横琴大桥</p>
                                                <p class="tra_mar">
                                                    - 横琴长隆</p>
                                                <p>
                                                    13、东莞、深圳及粤东地区：各地高速转 - 京港澳高速 - 西部沿海高速（湛江方向，月环出口）</p>
                                                <p class="tra_mar">
                                                    - 广珠西线高速（南屏出口) - 南屏检查站 - 南琴路 - 横琴大桥 - 横琴长隆</p>
                                                <p>
                                                    14、中山、江门及粤西地区：各地高速转 - 西部沿海高速（月环出口）- 广珠西线高速（南屏出口）</p>
                                                <p class="tra_mar">
                                                    - 南屏检查站 - 南琴路 - 横琴大桥 - 横琴长隆</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="wrap_side">
                            <iframe height="4454" width="270px" border="0" frameborder="0" scrolling="no" allowtransparency="no"
                                src="http://u.ctrip.com/union/Code/HotelListBox.aspx?AllianceID=3911&Sid=295913&city=%u73E0%u6D77&cityid=31&rows=10&cols=1&themeid=0&trait=99&inDate=2014-12-17&outDate=2014-12-18&orderby=1&star=5&searchType=t&ouid=&app=0105A04">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!--footer-->
    <%template src=/_footer_changlong.html/%>
    <!--/footer-->
    </div>
</body>
</html>
