<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>珠海长隆海洋王国长隆马戏，海洋王国票价，海洋王国门票多少钱，海洋王国门票团购_奇比拉</title>
    <meta content="海洋王国门票，马戏二等门票，珠海长隆，海洋王国跨年晚会门票，珠海海洋王国，海洋王国优惠票，海洋王国团购" name="keywords">
    <meta content="珠海长隆：2014年珠海长隆海洋王国跨年晚会门票,暨12月27日长隆野生动物世界自驾珠海独家" name="description">
    <meta content="奇比拉" name="author">
    <link media="screen" type="text/css" href="<%templateskin%>/css/common.css" rel="stylesheet">
    <link media="screen" type="text/css" href="<%templateskin%>/css/index.css" rel="stylesheet">
    <script type="text/javascript" src="<%templateskin%>/javascript/jquery-1.8.0.min.js"></script>
    <script src="<%templateskin%>/javascript/slides.jquery.js" type="text/javascript"></script>
    <script src="<%templateskin%>/javascript/changlong/Scroll.js" type="text/javascript"></script>
    <link media="screen" type="text/css" href="<%templateskin%>/css/changlong/main.css"
        rel="stylesheet">
    <link media="screen" type="text/css" href="<%templateskin%>/css/changlong/silde.css"
        rel="stylesheet">
    <script type="text/javascript">
        $(function () {
            $('#slides').slides({
                preload: true,
                preloadImage: 'img/loading.gif',
                play: 5000,
                pause: 2500,
                hoverPause: true
            });
            var x_pos = 0;
            var li_items_n = 0;
            var right_clicks = 0;
            var left_clicks = 0;
            var li_col = jQuery("#slider_list > li");
            var li_width = li_col.outerWidth(true);
            var viewWindow = Math.round(jQuery('.block-slider').width() / li_width);
            //alert(viewWindow);
            li_col.each(function (index) {
                x_pos += jQuery(this).outerWidth(true);
                li_items_n++;
            })
            right_clicks = li_items_n - viewWindow;
            total_clicks = li_items_n - viewWindow;

            //alert(right_clicks);

            $('#slider_list').css('position', 'relative');
            $('#slider_list').css('left', '0px');
            $('#slider_list').css('width', x_pos + 'px');

            var slider_link = $('#right_but');
            var slider_link_index = 1;
            var slider_count = $('#slider_list > li').size();

            function slider_intro() {
                if (slider_link_index <= slider_count) {
                    slider_link.trigger('click');
                    slider_link_index++;
                    setTimeout(function () { slider_intro() }, 5000); //select change time
                }
            }
            setTimeout(function () { slider_intro() }, 5000);

            $('#slider_list>li').each(function (a, b) {
                $(b).hover(function () {
                    $(b).find('span').stop().animate({ 'bottom': 5 }, 500)
                }, function () {
                    $(b).find('span').stop().animate({ 'bottom': -($(b).height() + 5) }, 300);
                });
            });
        });
    </script>
</head>
<body >
 <div  class="narrow_page index_page">
    <div class="head_nav">
          <!--Header-->
    <%template src=/_header_changlong.html/%>
    <!--/Header-->
    </div>
    <div class="clearfix"></div>
    <div class="clsPanle mainbody">
        <div class="m_conter">
            <a href='<%linkurl("changlongmp")%>' target="_blank" id="ind_ydfb" style="top: -82px;">门票预订</a>
            <div class="dest-header">
             
                <div class="clsheader">
                <h1>
                    海洋王国
                    <small>&nbsp;&nbsp;<a href='<%linkurl("changlongmp")%>' class="link-btn">+ 购票</a></small>
                </h1>
                <p>
                    长隆海洋王国位于珠海横琴长隆国际海洋公园，是长隆集团采用世界顶尖公司的设计，吸取全球主题公园的精华，运用高科技和长隆特有的创意，全面整合珍稀的海洋动物、顶级的游乐设备和新奇的大型演艺，全力建设和打造的中国人自主研发、拥有自主知识产权的世界顶级主题公园。
                </p>
                </div>    
                <div class="alpha_bg"></div>  
                    
            </div>          、
            <div class="mod_hd" id="fun" style="padding-top:0px;">
                <h2>
                    海洋王国八大主题</h2>
                <span class="title_tips">写一部关于海的童话，你是主角；游弋在海洋王国，感受波澜壮阔的深海宫殿，做一名探险家</span> <i class="title_img">
                </i>
            </div>
            <ul class="mainfun">
                <%set (DataTable){rednews}=get_article_list("news", 46, 8, "")%>
                <%loop newsdr11 rednews%>
                <li><a target="_blank" href="#" title="{newsdr11[title]}">
                    <p class="fun_desp">
                        {newsdr11[source]}
                    </p>
                    <img alt="{newsdr11[title]}" class="list_pic img-loaded" src="{newsdr11[img_url]}">
                    <h3 class="list_title" title="{newsdr11[author]}">
                        {newsdr11[author]}</h3>
                    <p class="list_time" title="{newsdr11[seo_description]}">
                        {newsdr11[zhaiyao]}</p>
                </a></li>
                <%/loop%>
            </ul>
            <div class="upcoming">
                <div class="upcoming_hear">
                    <h2>
                        海洋王国全球顶尖娱乐
                    </h2>
                </div>
                <div class="upcomingRegion i_swwantlist " id="i_swwantlist">
                    <div id="upcomingPre" title="last" class="lastcol">
                    </div>
                    <div id="upcomingNext" title="next" class="nextcol">
                    </div>
                    <div class="i_swwantlister " id="i_swwantlister">
                        <div class="movie_scroll" id="movie_scroll">
                            <%set (DataTable){jjylnews}=get_article_list("news", 47, 11, "")%>
                            <%loop djyl jjylnews%>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="{djyl[seo_title]}">
                                        <p class="day">
                                            <strong>{djyl[title]}</strong>{djyl[source]}</p>
                                        <img src="{djyl[img_url]}" width="295px" alt="{djyl[title]}">
                                        <p class="i_wbr">
                                            {djyl[zhaiyao]}
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <%/loop%>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="水上自由浮动和以轴心为中心高速转动的全新游玩概念——旋转水战！维护海洋和平的战斗已经打响，攻打海盗岛的战役中，处处都是枪林弹雨，惊险重重，调整坐标、瞄准、射击，赶紧准备好“防弹雨衣”，马上加入战斗吧！"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>旋转水车</strong>海豚湾</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/htw/big5.jpg" width="295px"
                                            alt="旋转水车">
                                        <p class="i_wbr">
                                            水上自由浮动和以轴心为中心高速转动的全新游玩概念——旋转水战！ 维护海洋和平的战斗已经打响，赶紧准备好“防弹雨衣”，马上加入战斗吧！
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="水上自由浮动和以轴心为中心高速转动的全新游玩概念——旋转水战！维护海洋和平的战斗已经打响，攻打海盗岛的战役中，处处都是枪林弹雨，惊险重重，调整坐标、瞄准、射击，赶紧准备好“防弹雨衣”，马上加入战斗吧！"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>海豚转转车</strong>海豚湾</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/htw/big3.jpg" width="295px"
                                            alt="海豚转转车">
                                        <p class="i_wbr">
                                            全新娱乐互动式家庭游乐项目！乘坐海豚转转车与一群活泼可爱的海豚在海豚湾畔快速旋转，欢乐跳跃，互相喷射水柱嬉戏玩耍，体验无限乐趣！
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="乘坐巨型飞行器穿越丛林，湖泊，山谷，感受瞬间离心、极速飞翔、360度翻转等变幻无穷的飞行乐趣！"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>鹦鹉过山车</strong>雨林飞翔</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/ylfx/big2.jpg" width="295px"
                                            alt="鹦鹉过山车">
                                        <p class="i_wbr">
                                            乘坐巨型飞行器穿越丛林，湖泊，山谷，感受瞬间离心、极速飞翔、360度翻转等变幻无穷的飞行乐趣！
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="冰山过山车:乘坐极地破冰船，深入北极冰川，探访雪域中的北极熊村庄，在跨越冰山顶峰之时体验瞬间急剧下滑，盘山高速转弯，水中破冰滑浪的奇特旅程。"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>冰山过山车</strong>极地探险</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/jdtx/big5.jpg" width="295px"
                                            alt="冰山过山车">
                                        <p class="i_wbr">
                                            乘坐极地破冰船，深入北极冰川，探访雪域中的北极熊村庄，在跨越冰山顶峰之时体验瞬间急剧下滑，盘山高速转弯，水中破冰滑浪的奇特旅程。
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="实景式娱乐互动性场景体验——深海历险！搭乘“蛟龙号”潜水器，下潜到7000米海底，在“泡泡”的领航下穿越迷离漩涡，跨过深海火山，途经巨藻森林时邂逅鲨鱼捕食狂潮的神奇，让你有一场难忘的深海历险之旅！"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>海底互动船</strong>海洋奇观</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/hyqg/big2.jpg" width="295px"
                                            alt="海底互动船">
                                        <p class="i_wbr">
                                            实景式娱乐互动性场景体验——深海历险！搭乘“蛟龙号”潜水器，下潜到7000米海底，在“泡泡”的领航下穿越迷离漩涡，跨过深海火山，途经巨藻森林时邂逅鲨鱼捕食狂潮的神奇，让你有一场难忘的深海历险之旅！
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="驾驶着欢乐碰碰车，驰骋在海岛缤纷世界，加速，转弯，碰撞，尽享速度与激情的无穷乐趣！"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>欢乐碰碰车</strong>缤纷世界</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/jdtx/big5.jpg" width="295px"
                                            alt="欢乐碰碰车">
                                        <p class="i_wbr">
                                            驾驶着欢乐碰碰车，驰骋在海岛缤纷世界，加速，转弯，碰撞，尽享速度与激情的无穷乐趣！
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="五彩缤纷的海底城堡内是多种有奖游戏，游戏廊是小朋友的天堂。"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>游戏廊</strong>缤纷世界</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/jdtx/big5.jpg" width="295px"
                                            alt="游戏廊">
                                        <p class="i_wbr">
                                            五彩缤纷的海底城堡内是多种有奖游戏，游戏廊是小朋友的天堂。
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="独特式海洋动物主题超豪华旋转木马——梦幻海洋！让您体验在奇妙梦幻的海洋世界里与海豚、虎鲨等数十种海洋动物结伴畅游，在巨型的八爪鱼之王引领下欢快旋转，高低起伏的无穷乐趣！"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>梦幻海洋</strong>缤纷世界</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/jdtx/big5.jpg" width="295px"
                                            alt="梦幻海洋">
                                        <p class="i_wbr">
                                            独特式海洋动物主题超豪华旋转木马——梦幻海洋！让您体验在奇妙梦幻的海洋世界里与海豚、虎鲨等数十种海洋动物结伴畅游，在巨型的八爪鱼之王引领下欢快旋转，高低起伏的无穷乐趣！
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="亲子娱乐项目——激浪帆船！体验乘坐激浪帆船探险神秘的海象山，穿越波涛汹涌的海峡，在掀起的巨浪中左摇右摆，高速旋转的惊险与刺激！"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>激浪帆船</strong>海象山</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/hxs/big4.jpg" width="295px"
                                            alt="激浪帆船">
                                        <p class="i_wbr">
                                            亲子娱乐项目——激浪帆船！体验乘坐激浪帆船探险神秘的海象山，穿越波涛汹涌的海峡，在掀起的巨浪中左摇右摆，高速旋转的惊险与刺激！
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="亚洲首次引进推出的全新设计独特式轨道过山车和滑浪漂流完美结合——超级激流！让您体验乘坐超级激流船爬升至高耸的神奇塔楼，体验旋转、倒后、高速俯冲飞越海象山和冲破巨浪的历险之旅！"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>超级激流</strong>海象山</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/hxs/big5.jpg" width="295px"
                                            alt="超级激流">
                                        <p class="i_wbr">
                                            亚洲首次引进推出的全新设计独特式轨道过山车和滑浪漂流完美结合——超级激流！让您体验乘坐超级激流船爬升至高耸的神奇塔楼，体验旋转、倒后、高速俯冲飞越海象山和冲破巨浪的历险之旅！
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                            <div class="upcoming_item">
                                <ul>
                                    <li><i class="dot">&nbsp;</i></li>
                                    <li class="i_wantmovie"><a href="#" target="_blank" title="海洋幻想集合了海洋王国各个区域的标志形象，其表现形式是欢乐，明快，五彩缤纷，蕴含着我们在横琴海洋王国每一天的欢乐，奇迹，和喜庆。"
                                        class="img __r_c_" pan="M14_TheaterIndex_Upcoming_Cover">
                                        <p class="day">
                                            <strong>海洋王国大巡游</strong>横琴海</p>
                                        <img src="http://zh.chimelong.com/Oceankingdom/images/ylss/hqh/hcxy.jpg" width="295px"
                                            alt="海洋王国大巡游">
                                        <p class="i_wbr">
                                            海洋幻想集合了海洋王国各个区域的标志形象，其表现形式是欢乐，明快，五彩缤纷，蕴含着我们在横琴海洋王国每一天的欢乐，奇迹，和喜庆。
                                        </p>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="upcoming">
                <div class="upcoming_hear" id="time">
                    <h2>
                        海洋王国设施开放时间及服务安排
                    </h2>
                </div>
                <ul class="funserv clearfix">
                    <li style="margin-left: 0px;">
                        <div class="clearfix">
                            <div class="topserv quark ">
                                <div class="quark-inner">
                                    <span class="border-below"></span><a href="javascript:void(0)">
                                        <img src="<%templateskin%>/images/changlong/yanyi/4.jpg" />
                                    </a>
                                    <div class="sight-desc">
                                        <div>
                                            <p class="desc-content">
                                                花车巡游</p>
                                            <table class="bylineWrapper" cellpadding="0" cellspacing="0" border="0">
                                                <thead>
                                                    <tr>
                                                        <td width="190px">
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            海洋王国人巡游
                                                        </td>
                                                        <td>
                                                            15：00
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="alpha_bg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottomserv quark ">
                                <div class="quark-inner">
                                    <span class="border-below"></span><a href="javascript:void(0)">
                                        <img src="<%templateskin%>/images/changlong/yanyi/2.jpg" />
                                    </a>
                                    <div class="sight-desc">
                                        <div>
                                            <p class="desc-content">
                                                海豚湾</p>
                                            <table class="bylineWrapper" cellpadding="0" cellspacing="0" border="0">
                                                <thead>
                                                    <tr>
                                                        <td width="190px">
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            海豚剧场训练员
                                                        </td>
                                                        <td>
                                                            14：00
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            讲解示范
                                                        </td>
                                                        <td>
                                                            18：00
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="alpha_bg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="clearfix">
                            <div class="middle_quark">
                                <a href="javascript:void(0)">
                                    <img src="<%templateskin%>/images/changlong/yanyi/5.jpg" />
                                </a>
                                <div class="sight-desc">
                                    <div>
                                        <p class="desc-content">
                                            横琴海表演</p>
                                        <table class="bylineWrapper" cellpadding="0" cellspacing="0" border="0">
                                            <thead>
                                                <tr>
                                                    <td width="190px">
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        跳跃旋律音乐喷泉
                                                    </td>
                                                    <td>
                                                        10：00
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        11：00
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        13：00
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        14：00
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        15：30
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                    <td>
                                                        17：00
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        炫彩闪耀横琴海
                                                    </td>
                                                    <td>
                                                        18：:45
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="alpha_bg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="clearfix">
                            <div class="topserv quark ">
                                <div class="quark-inner quark-right">
                                    <span class="border-below"></span><a href="javascript:void(0)">
                                        <img src="<%templateskin%>/images/changlong/yanyi/3.jpg" />
                                    </a>
                                    <div class="sight-desc">
                                        <div>
                                            <p class="desc-content">
                                                海象山</p>
                                            <table class="bylineWrapper" cellpadding="0" cellspacing="0" border="0">
                                                <thead>
                                                    <tr>
                                                        <td width="190px">
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            海狮剧场训练员
                                                        </td>
                                                        <td>
                                                            12：00
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            讲解示范
                                                        </td>
                                                        <td>
                                                            16：00
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="alpha_bg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottomserv quark ">
                                <div class="quark-inner quark-right">
                                    <span class="border-below"></span><a href="javascript:void(0)">
                                        <img src="<%templateskin%>/images/changlong/yanyi/1.jpg" />
                                    </a>
                                    <div class="sight-desc">
                                        <div>
                                            <p class="desc-content">
                                                极地探险</p>
                                            <table class="bylineWrapper" cellpadding="0" cellspacing="0" border="0">
                                                <thead>
                                                    <tr>
                                                        <td width="190px">
                                                        </td>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            极地剧场训练员
                                                        </td>
                                                        <td>
                                                            13：00
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            讲解示范
                                                        </td>
                                                        <td>
                                                            17：00
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="alpha_bg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <span class="ln ln-one"></span><span class="ln ln-two"></span>
                </ul>
            </div>
        </div>
        
    </div>
     <!--footer-->
    <%template src=/_footer_changlong.html/%>
    <!--/footer-->
  </div>
</body>
</html>
