<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>014珠海航展，万圣节送航展模型狂欢_奇比拉</title>
    <meta content="2014珠海航展，珠海航展门票，珠海航展，珠海航展万圣节" name="keywords">
    <meta content="2014珠海航展，万圣节狂欢，模型送到没话说，空客A380,波音777，航展模型等你拿，满800送模型，给力大回馈" name="description">
    <meta content="{config.webtitle}" name="author">
    <link media="screen" type="text/css" href="<%templateskin%>/css/common.css" rel="stylesheet">
    <link media="screen" type="text/css" href="<%templateskin%>/css/wsj.css" rel="stylesheet">  
    <script type="text/javascript" src="<%templateskin%>/javascript/jquery-1.8.0.min.js"></script>
</head>
<body>
    <!--Header-->
    <%template src=/_header.html/%>
    <!--/Header-->
    <div class="wsjwarp  overhide">
        <div class="wsjbanner">
            <img src="../../images/wanshengjie/wsjbanner.jpg" />
            <a href='<%linkurl("airshow")%>' target="_blank">珠海航展门票 </a>
        </div>
        <div class="clsavtive"> 买航展门票门票送模型，航展模型送到没话说，送礼已有<em>1865</em>名客户已发放，活动时间：2014.10.31(万圣节)</div>
        <div class="section1"><img src="../../images/wanshengjie/section1.jpg" alt="珠海航展门票万圣节活动大回馈" /></div>
        <div class="section2">

        <div class="allHava">珠海航展门票，不等双十一，满就送</div>
        <div class="Corpse">
            <img src="../../images/wanshengjie/Corpse.png" />
        </div>

            <div class="togetGrab"><a href="javascript:void(0);">航展门票购买</a></div>

            <div class="sec2Tips">
           
            <div class="tipsBtn"><a class="tipsBtn1" href='<%linkurl("airshoworders")%>' target="_blank">
            <img src="../../images/wanshengjie/tipsBtn1.png" alt="航展门票专区"/>
            </a>
            <a class="tipsBtn2" href="http://item.taobao.com/item.htm?spm=a1z10.1.w4004-8861640800.8.TMILMo&id=41686013354" rel="nofllow" target="_blank">
                <img src="../../images/wanshengjie/tipsBtn2.png" alt='2014航展门票预订'/>
            </a>
            </div>
        </div>

        </div>
    </div>
    <!--Header-->
    <%template src=/_footer.html/%>
    <!--/Header-->
    <div class="clear">
    </div>
    <img src="http://www.qibila.com/imgs/jnstyle.gif" style="position: fixed; right: 0;
        top: 40%; z-index: 999; display: none" id="imga" title="万圣节快乐" alt="中国（珠海）航展" />
    <script type="text/javascript">        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc60e4d4891cde5ef99cc098806ec5f51' type='text/javascript'%3E%3C/script%3E")) </script>
</body>
</html>
